<div class="navbar bg-base-100 shadow sticky top-0 z-50">
  <div class="flex-1 font-bold text-primary text-xl">
    <%= link_to 'ZenithArc', root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>

  <!-- Desktop Menu -->
  <div class="flex-none hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-base">
        <li><%= link_to 'Arc', arc_home_path, class: "hover:text-primary" %></li>
        <li><%= link_to 'Customer', customer_home_path, class: "hover:text-primary" %></li>
        <li><%= link_to 'Store', root_path, class: "hover:text-primary" %></li>
    </ul>
  </div>

  <!-- Mobile Dropdown -->
  <div class="flex-none lg:hidden">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
             viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </label>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-base-content">
        <li><%= link_to 'Arc', arc_home_path, class: "hover:text-primary" %></li>
        <li><%= link_to 'Customer', customer_home_path, class: "hover:text-primary" %></li>
        <li><%= link_to 'Store', root_path, class: "hover:text-primary" %></li>
      </ul>
    </div>
  </div>
</div>
