<!DOCTYPE html>
<html data-theme="dim">
  <head>
    <title><%= content_for(:title) || "Zenitharc" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="min-h-screen max-w-full flex flex-col">
    <div class="fixed top-17 left-1/2 transform -translate-x-1/2 z-50 w-full max-w-md px-4">
      <% flash.each do |type, message| %>
        <div class="alert shadow-lg
                    <%= flash_type_to_daisyui(type) %>
                    animate-fade-in-down transition duration-300 ease-out">
          <div>
            <span><%= message %></span>
          </div>
        </div>
      <% end %>
    </div>

    <%= render 'layouts/header' %>
    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        document.querySelectorAll('.alert').forEach(el => {
          el.style.transition = "opacity 0.5s ease-out";
          el.style.opacity = "0";
          setTimeout(() => el.remove(), 500);
        });
      }, 4000);
    });
  </script>
</html>
